#title {

height: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1.5px solid;
  background: #000;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  margin: 15px;
  padding-top: 20px;
}
.nav-items > ul > li {
  
  padding: 40px;
  color :  white;

}

.logo {
  width: 150px;
  margin-left: 30px;
}

